---
import { excludedTags } from "./allTags.ts";
const { collection, data, slug } = Astro.props;
const { cover, coverAlt, date, tags = [], title, titleTranslated } = data;
import WrittenLongAgo from "@components/WrittenLongAgo.astro";
import { Image } from "astro:assets";

const hasTag = (tag) => {
  if (!tags) return false;
  return tags.includes(tag);
};
const isArchived = hasTag("archived");
const isFeatured = hasTag("featured");

const displayTags = (() => {
  const displayableTags = tags.filter((tag) => !excludedTags.includes(tag));
  if (collection == "writing" && displayableTags) {
    return displayableTags;
  }
  if (collection == "watching") {
    return ["media"];
  }
  return [collection];
})();
---

<a
  href={`/notes/${slug}`}
  class:list={[
    "relative group",
    "text-sm",
    "transition-all",
    "motion-reduce:transition-none",
    "p-8 m-4",
    "border-4 rounded",
    "border-tumbleweed-600 dark:border-purple",
    "hover:border-greenlake dark:hover:border-cyan",
    { "border-tumbleweed-600/50 hover:border-tumbleweed-600/100": isArchived },
    { "dark:border-purple/70": isArchived },
    { "row-span-2": isFeatured },
    { "border-tumbleweed-800 dark:border-purple-pale": isFeatured },
    { "border-tumbleweed-800 dark:border-purple-pale": isFeatured },
    { "row-span-2": cover },
  ]}
>
  {
    displayTags?.length > 0 && (
      <span
        class:list={[
          "absolute top-2 left-2 italic text-purple-dark dark:text-purple-light",
        ]}
      >
        tags: {displayTags.join(", ")}
      </span>
    )
  }
  {
    isArchived && (
      <span
        class:list={[
          "transition-all absolute top-2 right-2 rotate-12 group-hover:rotate-0 italic text-greenlake-800 dark:text-purple-pale",
          "motion-reduce:transform-none",
        ]}
      >
        Archived
      </span>
    )
  }
  <div class="block text-center text-lg/tight my-5">
    {title}
    {titleTranslated && <div>{titleTranslated}</div>}
    <time
      class="absolute bottom-2 right-2 block text-sm text-purple-dark dark:text-purple-light"
    >
      <WrittenLongAgo date={date} />
    </time>
  </div>
  {cover && <Image src={cover} alt={coverAlt} class="mb-2" />}
</a>
