---
import Layout from "./_layout.astro";
import P from "@components/P.astro";
import { Image } from "astro:assets";

import Spaceship from "./wyoming/wyoming-100.jpg";
import Ranchers from "./wyoming/wyoming-101.jpg";
import Jason from "./wyoming/wyoming-102.jpg";
import Trees from "./wyoming/wyoming-103.jpg";
import Dan from "./wyoming/wyoming-104.jpg";
import Lasso from "./wyoming/wyoming-105.jpg";
import StandingRock from "./wyoming/wyoming-106.jpg";
import Rodger from "./wyoming/wyoming-107.jpg";
import StainedGlass from "./wyoming/wyoming-108.jpg";
import SynagogueExterior from "./wyoming/wyoming-109.jpg";
import SynagogueStorage from "./wyoming/wyoming-100-2.jpg";
import SynagogueShelf from "./wyoming/wyoming-110.jpg";
import VoterGuide from "./wyoming/wyoming-111.jpg";
import Simon from "./wyoming/wyoming-112.jpg";
import PrayerFence from "./wyoming/wyoming-113.jpg";
import Me from "./wyoming/wyoming-114.jpg";

const images = [];
---

<Layout pageTitle="Photography / Wyoming">
  <div class="text-center">
    <h1 class="mb-6">Wyoming</h1>
    <h2>
      Work in progress
      <br />
      2022–ongoing
    </h2>
  </div>

  <div class="grid gap-6 xl:grid-cols-2 2xl:fullbleed 2xl:px-8">
    <Image src={Spaceship} alt="" />
    <Image src={Ranchers} alt="" />
    <Image
      src={Jason}
      alt=""
      class="xl:col-span-2 xl:my-12 max-w-[50rem] justify-self-center"
    />
    <div class="col-span-2 grid xl:grid-cols-7 gap-6 xl:mb-12 xl:items-end">
      <Image src={Trees} alt="" class="xl:col-span-3 xl:mt-24" />
      <Image src={Dan} alt="" class="xl:col-span-4" />
      <Image src={Lasso} alt="" class="xl:col-span-3 xl:col-start-3" />
    </div>
    <div class="col-span-2 grid xl:grid-cols-12 gap-6 xl:mb-12 xl:items-end">
      <Image src={StandingRock} alt="" class="xl:col-span-5" />
      <Image src={Rodger} alt="" class="xl:col-span-7" />
    </div>
    <div class="col-span-2 grid xl:grid-cols-3 gap-6 xl:mb-12 xl:items-center">
      <Image src={StainedGlass} alt="" />
      <div class="xl:col-span-2 xl:row-span-2">
        <h2>Simon</h2>
        <Image src={Simon} alt="" />
      </div>
      <Image src={SynagogueStorage} alt="" />
    </div>
    <Image src={SynagogueShelf} alt="" class="xl:mt-12" />
    <Image src={SynagogueExterior} alt="" />
    <Image src={PrayerFence} alt="" />
    <Image src={Me} alt="" class="xl:col-span-1 xl:col-start-1 xl:mt-12" />
  </div>
</Layout>
